@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ::placeholder{
    
} */

:root {
    /* PRIMARY COLORS */
    --BLACK-50: #e7e7e7;
    --BLACK-100:#b3b4b5;
    --BLACK-200:#8f8f91;
    --BLACK-300:#5c5c5e;
    --BLACK-400:#3c3d3f;
    --BLACK-500:#0b0c0f;
    --BLACK-600:#0a0b0e; 
    --BLACK-700:#08090b;
    --BLACK-800:#060708;
    --BLACK-900: #050506;
    
    /* SECONDARY COLORS */
    --S-LIGHT: #FFF;
    --S-LIGHT-HOVER : #FFF;
    --S-LIGHT-ACTIVE: #FFF;
    --S-NORMAL: #FFF;
    --S-NORMAL-HOVER: #E6E6E6;
    --S-NORMAL-ACTIVE: #CCC;
    --S-DARK: #BFBFBF;
    --S-DARK-HOVER: #999;
    --S-DARK-ACTIVE: #737373;
    --S-DARKER: #595959;

    
    /* ACCENT COLORS */
    --A-LIGHT: #E7F4FD;
    --A-LIGHT-HOVER : #DBEEFC;
    --A-LIGHT-ACTIVE: #B4DBF8;
    --A-NORMAL: #0C8CE9;
    --A-NORMAL-HOVER: #0B7ED2;
    --A-NORMAL-ACTIVE: #0A70BA;
    --A-DARK: #0969AF;
    --A-DARK-HOVER: #07548C;
    --A-DARK-ACTIVE: #053F69;
    --A-DARKER: #043152;

    /* ERROR COLORS */
    --E-LIGHT: #F9ECE8;
    --E-LIGHT-HOVER : #F7E2DD;
    --E-LIGHT-ACTIVE: #EEC3B9;
    --E-NORMAL: #C73F1D;
    --E-NORMAL-HOVER: #B3391A;
    --E-NORMAL-ACTIVE: #9F3217;
    --E-DARK: #952F16;
    --E-DARK-HOVER: #772611;
    --E-DARK-ACTIVE: #5A1C0D;
    --E-DARKER: #46160A;

    /* SUCCESS COLORS */
    --SS-LIGHT: #EDF8EC;
    --SS-LIGHT-HOVER : #E4F4E3;
    --SS-LIGHT-ACTIVE: #C7E8C5;
    --SS-NORMAL: #4BB543;
    --SS-NORMAL-HOVER: #44A33C;
    --SS-NORMAL-ACTIVE: #3C9136;
    --SS-DARK: #388832;
    --SS-DARK-HOVER: #2D6D28;
    --SS-DARK-ACTIVE: #22511E;
    --SS-DARKER: #1E3F17;

    /* WARNING COLORS */
    --W-LIGHT: #FFFAE6;
    --W-LIGHT-HOVER : #FFF7D9;
    --W-LIGHT-ACTIVE: #FFEFB0;
    --W-NORMAL: #FFCC00;
    --W-NORMAL-HOVER: #E6B800;
    --W-NORMAL-ACTIVE: #CCA300;
    --W-DARK: #BF9900;
    --W-DARK-HOVER: #997A00;
    --W-DARK-ACTIVE: #735C00;
    --W-DARKER: #594700;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--BLACK-500);
}

img {
    display: block;
}
/* NAVIGATION */
header {
    height: 100px;
    /* width: 100vw; */
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 0 75px;
    width: 100%;
}
.sign button {
  width: 183px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.sign .signout {
  background-color: var(--BLACK-500);
  color: var(--A-LIGHT);
}


.steps{
    display: flex;
    align-items: center;
    color: var(--A-LIGHT);
    width: 30%;
    margin: 2rem auto;
    justify-content: center;
    gap: 0.5rem;
}
.steps > .line{
    height: 0.5px;
    width: 15%;
    background-color: var(--A-LIGHT);
}
.steps > .num{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--BLACK-500);
    background-color: var(--A-NORMAL);
}

.setup-content > h3{
    color: var(--A-LIGHT);
    text-align: center;
    font-size: 20px;
}
.setup-content > .icons{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    gap: 1rem;
}

.form-container{
    padding: 0rem 6rem;
    display: flex;
    justify-content: space-between;
}
.form-left{
    width: 40%;
    padding: 2rem 0rem;
    color: var(--A-LIGHT-HOVER);
}
.form-right{
    width: 60%;
    padding: 6rem 0rem 2rem;
    font-size: 18px;
    color: var(--A-LIGHT-HOVER);
}
span.privacy{
    color: var(--A-DARK);
}
.membership-btn{
    background-color: var(--A-NORMAL);
    text-align: center;
    font-weight: 800;
    color: var(--A-LIGHT);
    padding: 0.7rem 2rem;
    width: 30%;
    border-radius: 5px;
    margin: 1.5rem 0rem;
}
.form-field{
    width: 90%;
    margin-bottom: 1rem;
}
.card-date{
    display: flex;
    justify-content: space-around;
    width: 90%;
    gap: 1rem;
}
.e-date, .cvv{
    width: 50%;
}
.e-date > input, .cvv > input{
    width: 100%;
    background-color: var(--BLACK-500);
    border: 1px solid var(--BLACK-200);
    height: 3rem;
    border-radius: 4px;
    margin: 0.5rem 0rem;
}
.form-field > label{
    font-size: 20px;
    font-weight: 800;
}
.form-field > input{
    width: 100%;
    background-color: var(--BLACK-500);
    border: 1px solid var(--BLACK-200);
    height: 3rem;
    border-radius: 4px;
    padding: 0rem 1rem;
    margin: 0.5rem 0rem;
}

.cards > input{
    display: flex;
    padding: 20px;
    margin: 0rem 1rem;
    
}
.cards{
  position: absolute;
  padding: 20px;
  gap: 2rem;
}
::placeholder{
    display: flex;
    text-align:center;
    gap: 3rem;
    margin: 5rem 0rem;
    color: var(--E-LIGHT);
}

/* --------------footer css--------------------- */
footer {
    height: 387px;
    background-color: var(--BLACK-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: white;
  }
  
  footer .footer-container1 {
    display: flex;
    gap: 1rem;
  }
  footer .footer-container1 .heading-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  footer .ft{
    padding: 10px 0;
  }
  footer .heading {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
  }
  .foot {
    width: 80%;
  }
  footer .footer-container1 .last{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  footer .footer-container1 .last .socials {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-container2 {
    padding-top: 30px;
    border-top: 1px solid var(--BLACK-300);
    display: flex;
    justify-content: space-between;
  }
  .footer-container2 .bottomleft {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-container2 .bottomleft .items {
    padding: 0px 30px;
  }
  .footer-container2 .bottom {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--A-NORMAL);
  }
  .footer-container2 .bottomleft .two {
    border-right: 1px solid var(--BLACK-300);
    border-left: 1px solid var(--BLACK-300);
  }
  footer a, a:visited , a:hover, a:active  {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--A-NORMAL);
    text-decoration: none;
  }
  .form-container > img {
    position: absolute;
    margin: 4px;
    gap: 6px;
    padding: 2px;
    /* background: red; */
  }
  .input-field > img {
    background-color: red;
  }
 /* --------------------media query-------------- */
  
 @media screen and (max-width: 667px){
    header{
        display: flex;
        justify-content: space-between;
        width: 50%;
        gap: 5rem;
    }
    .sign button {
        width: 100%;
        height: 44px;
        border-radius: 4px;
        border: 1px solid white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder; 
      }
    .steps{
        display: flex;
        align-items: center;
        color: var(--A-LIGHT);
        width: 100%;
        margin: 2rem 0rem;
        justify-content: center; 
        gap: 0.5rem;
    }
    .setup-content{
        align-items: center;
        margin: 3rem 3rem ;
    }
    
    h3{
        align-items: center;
        justify-content: center;
        font-size: 20px;
        /* margin: 1rem 8rem; */
        gap: 9px;
        display: flex;
    } 
    
    .icons{
        display: flex;
        align-items: center;
        margin: 2.5rem 13.5rem;
    }
    .form-container{
        padding: 0rem 6rem;
        flex-direction: column;
        justify-content: space-between;
        width: 90.9%;
        /* padding: 0rem 6rem; */
        padding: 1rem 0rem;
        /* margin: 0rem 15rem; */
        margin: 2px 20px 1px 30px;
        margin-bottom: 60rem;

    }
    .form-left {
        width: 90%;
    }
    .form-field > input {
        width: 100%;
        /* margin: 2px 30px 1px 40px; */
    }
    .form-right{
        width: 90%;
        /* margin-top: 50%; */
        margin-bottom: 90rem;
        padding-bottom: 100rem;
        height: 100%;
    }
    .membership-btn{
        background-color: var(--A-NORMAL);
        text-align: center;
        font-weight: 800;
        color: var(--A-LIGHT);
        padding: 0.7rem 2rem;
        width: 50%;
        border-radius: 5px;
        margin: 1.5rem 0rem;
    }
    /* .footer {
        height: 387px;
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        color: white;
    } */
    
  }
   
  